<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Post-List</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a [class]="home" aria-current="page" (click)=" home = 'nav-link active'; posts = 'nav-link'; postInattivi='nav-link' " routerLink="">Home</a>
        <a [class]="posts" (click)=" home = 'nav-link '; posts = 'nav-link active'; postInattivi='nav-link' " routerLink="/posts/:active">Post Attivi</a>
        <a [class]="postInattivi" (click)=" home = 'nav-link'; posts = 'nav-link'; postInattivi='nav-link active' " routerLink="/posts">Post Inattivi</a>
        {{counter}}
        
      </div>
    </div>
  </div>
</nav>
